In [3]:
f = open("D:/yolo/test.txt" , 'r' , encoding = 'UTF8')
line = f.readlines()

In [4]:
line

['1 0.118354 0.154612616 0.46452616 0.48921966\n',
 '0 864 156 456 45648 156 89 1563 1896 612\n',
 '0 4869156 4894 64651 48913 15 616 521616\n',
 '1 48923 49423.746 1691695 6964921 96412']

In [9]:
line[0][0]

'1'

In [10]:
line[1][0]

'0'

In [11]:
sort = []
for i in range(len(line)) :
    sort.append(line[i][0])

In [12]:
sort

['1', '0', '0', '1']

In [16]:
sort.count('1')

2

In [19]:
f.close()

In [17]:
f = open("D:/yolo/.txt" , 'r' , encoding = 'UTF8')
line = f.readlines()
sort = []
for i in range(len(line)) :
    sort.append(line[i][0])

OSError: [Errno 22] Invalid argument: 'D:/yolo/*.txt'

In [ ]:
sort.count('1')

# 텍스트 파일 여러개 읽어서 결과 도출

In [2]:
import os
import glob
import pandas as pd

In [2]:
os.chdir(r"D:/yolo")

In [3]:
filenames = [ i for i in glob.glob("*.txt")]

In [4]:
filenames

['test.txt',
 'V006_79_1_15_07_03_12_1_2656z_20201104_19.txt',
 'V006_79_1_15_07_03_12_1_2656z_20201104_37.txt',
 'V006_79_1_15_07_03_12_1_2656z_20201105_38.txt']

In [5]:
f = open("D:/yolo/%s"  %filenames[1], 'r' , encoding = 'UTF8')
line = f.readlines()
sort = []
for i in range(len(line)) :
    sort.append(line[i][0])

In [6]:
sort

['1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1',
 '1',
 '0',
 '1',
 '1']

In [34]:
sort.count('0')

5

# 텍스트파일 전체 결과

In [3]:
# 디렉토리 접근
os.chdir(r"D:/yolo")
filenames = [ i for i in glob.glob("*.txt")]
sort = []

for i in range(len(filenames)) :
    # 파일 한개씩 열어서 한줄씩 리스트 형태로
    f = open("D:/yolo/%s"  %filenames[i], 'r' , encoding = 'UTF8')
    line = f.readlines()
    
    # 분류에 필요한 0 , 1 추출
    for i in range(len(line)) :
        sort.append(line[i][0])

In [4]:
sort.count('0')

8

In [5]:
sort.count('1')

73

In [6]:
column = [ 0 , 1 , 2 ]
result = [ sort.count('0') , sort.count('1') , sort.count('2')]
data = { '0' : sort.count('0') , '1' : sort.count('1') , '2' : sort.count('2') }
index  = ['검출 수']

In [7]:
df = pd.DataFrame(data, index = index )
df

      0   1  2
검출 수  8  73  1